* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.342);
}
select {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.342);
}
.overlay {
  background-color: rgba(0, 0, 0, 0.295);
}
